*{
    box-sizing: border-box;
}

@font-face
    src: url('fonts/Open-Sans.ttf');
    font-family: "Open Sans";

body{
    margin: 0px;
    padding: 0px;
}

.bg-gray
    background-color: #f7f7f7

.border-red{
  border: 1px solid #cc091d!important;
}
.color-red{
  color: #cc091d!important;
}
.bg-white{
  background-color: #fff!important
}
@media (max-width:414px)
  .top-22
    top -22px!important
