
@font-face
    src: url('fonts/Open-Sans.ttf');
    font-family: "Open Sans";

.bg-gray
    background-color: #f7f7f7

.border-red{
  border: 1px solid #cc091d!important;
}
.color-red{
  color: #cc091d!important;
}
.bg-white{
  background-color: #fff!important
}
.w-66
  width: 66%!important
.w-33
  width: 33%!important
.mt-30
  margin-top: 30px!important
.l-30
  left -30px!important
.jc-sb
  justify-content: space-between;
.pt-27
  padding-top: 27px;
.pl-10
  padding-left: 10px;
.mr-18
  margin-right: 18px
.mw-660
  max-width: 660px;
.mw-625
    max-width: 625px;
.pb-30
  padding-bottom: 30px
.mt-19
  margin-top: 19px
.mb-35
  margin-bottom: 35px
.button-wrap
    width: 780px

.color-red
    color: #cc091d;

.container_form-wrapper{
    position: relative !important;
    z-index: 0 !important;
}

.container_form-wrapper *{
    box-sizing: border-box !important;
}

.container_form-wrapper a
    color: inherit!important;
    text-decoration: none!important;

@media (max-width:414px)
  .top-22
    top -22px!important

@media(max-width: 1200px)
    .button-wrap
        width: auto
