.datepicker{
    background: #fff !important;
    border: 10px solid #ccc !important;
    outline: 1px solid #b0b0b0 !important;
    border-radius: 0px !important;
    font-family: "Open Sans"!important;
}
.datepicker--nav{
    background: #cc091d !important
}
.datepicker--nav-title{
    color: #fff !important;
}

.datepicker--nav-title i{
    color: #fff !important;
}

.datepicker--content{
    padding: 0px !important;
}

.datepicker--cell.datepicker--cell-day.-selected-{
    border-radius: 100%;
    background: #cc091d !important;
    color: #fff;
}

.datepicker--day-name{
    color: #000 !important;
    font-family: "Open Sans"!important;
}

.datepicker--nav-action path{
    stroke: #fff !important;
}

.datepicker--days-names{
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 10px !important;
}

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
    background: transparent !important;
}

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
    background: transparent !important;
}

.-bottom-left- .datepicker--pointer, .-top-left- .datepicker--pointer {
    left: 10px;
    top: -16px;
    background: #ccc;
    border-top: 1px solid #b0b0b0 !important;
    border-right: 1px solid #b0b0b0 !important;
}

.datepicker--cell.datepicker--cell-year.-selected-, .datepicker--cell.datepicker--cell-month.-selected-{
    background: #cc091d !important;
}
