.datepicker
    .datepicker__month
        .datepicker__prev
        .datepicker__current
        .datepicker__next
        
    table.datepicker__days
        tr
            th Mo
            th Tu
            th We
            th Th
            th Fr
            th Sa
            th Su
        
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
        tr
            td
            td
            td
            td
            td
            td
            td
            
