.step
    h2.step__title Personal details
    .step__description
        img.mr-4(src="img/portfolio.png", alt="")
        .step__text
            b Let’s start with the basics -
            br
            span We need to find out first a little about your upcoming visit.
        
    .step__subtitle
        .step__subtitle-text Visitor 1
        .step__subtitle-icon
        
    .step__note
        b CONSULAR NOTES
        .step__note-text The Russian consulate in United Kingdom have currently no special conditions that we are aware of and accept an email copy of the visa support documents as well as group visa supports.
            | However, this is subject to change so please confirm the current requirements directly with the consulate before submitting your application.
            | If necessary we can arrange to courier the original visa support document to you from Moscow, please feel free to contact our visa team at visas@realrussia.co.uk who will be happy to help.
