.step
    max-width: 710px
    padding: 15px
    background: #ffffff;
    padding-bottom: 30px;
    box-shadow 0 0 16px rgba(0, 0, 0, 0.07)
    border-top: 2px solid #cc091d


.step__title
    background: #cc091d
    padding: 6px 0px 6px 30px
    margin-top: 15px
    color #ffffff
    font-family "Open Sans"
    font-size 18px
    font-weight 400
    line-height 31.07px
    text-transform uppercase

.step__description
    display: flex;
    max-width: 605px;
    margin: 30px auto 28px auto;
    align-items: flex-start;

.step__text
    max-width: 544px
    color #353535
    font-size 14px
    line-height 21px
    font-family "Open Sans"

.step__subtitle
    max-width: 626px
    background: #cc091d
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

.step__subtitle-text
    color #ffffff
    font-family "Open Sans"
    font-size 15px

.step__subtitle-icon
    width 27px
    height 27px
    background #ffffff url('img/arrow-bottom.png') no-repeat center / 16px 8px
    cursor: pointer
    transition: 1s;
    transform: rotate(180deg);

.step__subtitle_close .step__subtitle-icon{
    transform: none;
}

.step__note
    max-width: 626px;
    margin: 10px 0px;
    background: #f2f2f2
    padding: 16px 26px 20px 14px

.step__note-text, .step__note b
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 21px;


@media (max-width:400px), (max-device-width:400px)
    .step
        padding 10px
