.total
    .d-flex
        .mr-3
            .total__label Currency
            select.total__select
                option(value="gbp") £ - GBP
                option(value="gbp") $ - USD
                option(value="gbp") € - EUR
                
        .mr-3
            .total__label Currency
            select.total__select
                option(value="gbp") £ - GBP
                option(value="gbp") $ - USD
                option(value="gbp") € - EUR
    
    .d-flex
        .total__label_big Total pr
                
