.total
    .d-flex
        .mr-4
            .total__label Currency
            select.total__select
                option(value="gbp") £ - GBP
                option(value="gbp") $ - USD
                option(value="gbp") € - EUR
                
        div
            .total__label Language
            select.total__select
                option(value="eng") 
                    span English
    
    .total__result
        .total__label.total__label_big.mr-1 Total price
        .total__sum
            span.total__currency £
            | 15.30
            
    .total__label.total__label_small Prices are shown in different currencies for your convenience, however payment will be made in British Pounds at the prevailing bank rate.

                
