.total.pl-0.pl-sm-4
    .d-flex.flex-column.flex-sm-row
        .mr-4.mb-2.mb-sm-0
            .total__label Currency
            select.total__select
                option(value="gbp") £ - GBP
                option(value="gbp") $ - USD
                option(value="gbp") € - EUR
                
        div
            .total__label Language
            input.total__select.total__country(type="text", readonly) 
    
    .total__result
        .total__label.total__label_big.mr-1 Total price
        .total__sum
            span.total__currency £
            | 15.30
            
    .total__label.total__label_small Prices are shown in different currencies for your convenience, however payment will be made in British Pounds at the prevailing bank rate.

                
