.total{
    max-width: 400px;
    border-left: 1px solid #00000010;
    padding: 20px 0px 20px 29px;
}

.total__label{
    color: #353535;
    font-family: "Open Sans";
    font-size: 13px;
    margin-bottom: 6px;
}

.total__label_big{
    font-size: 16px;
}

.total__select{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    color: #353535;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.total__result{
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid #cfcccc;
    padding-bottom: 12px;
    margin-bottom: 13px;
}

.total__country{
    height: 44px;
}

.total__sum{
    color: #cc091d;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
}

.total__label_small{
    font-size: 11px;
    line-height: 15px;
}
