.total.pl-0.pl-sm-4
    .d-flex.flex-column.flex-sm-row
        .mr-4.mb-2.mb-sm-0
            .total__label Currency
            select.total__select
                option(value="gbp") £ - GBP
                option(value="gbp") $ - USD
                option(value="gbp") € - EUR
                
        div
            .total__label Language
            input.total__select.total__country(type="text", readonly) 
    
    .total__result
        .total__label.total__label_big.mr-1 Total price
        .total__sum
            span.total__currency £
            | 15.30
            
    .total__label.total__label_small Prices are shown in different currencies for your convenience, however payment will be made in British Pounds at the prevailing bank rate.


//- table.total-table
//-     tr
//-         td Single entry visa
//-         td £15.30
//-     tr
//-         td No registration service needed
//-         td £0.00
//-     tr
//-         td.font-weight-bold TOTAL PRICE
//-         td.color-red.font-weight-bold £15.30
        
//- .step__note.font-size-12
//-     | The visa support document applied for will be valid for processing a visa for the named person to enter Russia on or after <not specified> and they must leave Russia on or before <not specified>. The visa will allow one entry to and one exit from Russia during this period. It is the applicant’s responsibility to confirm that the visa support document/visa meet their requirements before they process the visa, or travel or use the visa itself.
//-     | Please note that once the visa support is issued, no refunds are possible.
            
                
