.input
    max-width: 625px
    margin: 0px auto;

.input__wrapper
    border 1px solid rgba(0, 0, 0, 0.31)
    background-color #fefefe
    border-radius 5px;

.input__label
    color #000000
    font-family "Open Sans"
    font-size 14px
    padding: 5px 0px 0px 15px

.input__field
    padding: 10px 15px 10px 20px
    border: none;
    width: 100%
    outline: none;
    font-size: 20px

.input__error-label
    text-align: right;
    color #cc091d
    font-family "Open Sans"
    font-size 12px
    line-height 20px
    margin-bottom: 7px
