.radio-buttons__title Would you like to join our monthly newsletter list? 
.radio-buttons
    .radio-buttons__wrapper
        input.radio-buttons__radio(type="radio", name="someName", id="yes")
        label.radio-buttons__view(for="yes") Male
    .radio-buttons__wrapper
        input.radio-buttons__radio(type="radio", name="someName", id="no")
        label.radio-buttons__view(for="no") Female
