.hint
  .hint__header
    .hint__tab(tab='1')
      .hint__header-text Assistance
      .hint__header-icon ?
    .hint__tab.hint__tab_active(tab='2')
      .hint__header-text Further Help
      .hint__header-icon
        img(src="img/phone-receiver.png")
  .hint__body.active(data-tab='1')
    .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
    .hint__action
      .hint__action-icon
        img(src="img/phone-receiver.png")
      .hint__action-text  +44 (0)207 100 7370
    .hint__action
      .hint__action-icon
        img(src="img/headset.png")
      .hint__action-text.hint__action-text_black  Click to Call
    .hint__action
      .hint__action-icon
        img(src="img/support.png")
      .hint__action-text.hint__action-text_grey  Livechat: Online
  .hint__body(data-tab='2')
    .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
    .hint__action
      .hint__action-icon
        img(src="img/phone-receiver.png")
      .hint__action-text  +44 (0)207 100 7370
    .hint__action
      .hint__action-icon
        img(src="img/headset.png")
      .hint__action-text.hint__action-text_black  Click to Call
    .hint__action
      .hint__action-icon
        img(src="img/support.png")
      .hint__action-text.hint__action-text_grey  Livechat: Online
