doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            include ../blocks/steps/steps.jade
            include ../blocks/button/button.jade 
            include ../blocks/total/total.jade 
            include ../blocks/step/step.jade 
            include ../blocks/radio-buttons/radio-buttons.jade
            include ../blocks/input/input.jade
            include ../blocks/message/message.jade
            include ../blocks/datepicker/datepicker.jade


        include ../blocks/footer/footer.jade
