doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body

        main.container_form-wrapper
            .container
                .d-flex.flex-wrap.align-items-center.justify-content-between
                    div
                        .title Russian Tourist Visa Support Application
                        .steps.mt-30
                            .steps__item
                                .steps__item-step.steps__item-step_active 1
                                .steps__item-text.steps__item-text_active service details
                            .steps__item
                              .steps__item-step.steps__item-step_disabled 2
                              .steps__item-text.steps__item-text_disabled.top-22.l-30 personal details
                            .steps__item
                              .steps__item-step.steps__item-step_disabled 3
                              .steps__item-text.steps__item-text_disabled your visit
                            .steps__item
                              .steps__item-step.steps__item-step_disabled 4
                              .steps__item-text.steps__item-text_disabled.top-22 payment
                            .steps__line
                            .steps__line.steps__line_grey
                    
                    include ../blocks/total/total.jade 
                    
            .container.bg-gray.pb-4
                .d-flex.align-items-center.justify-content-center.justify-content-sm-between
                    div.jc-sb.pt-27.pl-10.d-block.d-sm-flex
                      div.flex-grow-1.button-wrap.d-block.d-sm-flex.flex-grow-1
                        div
                          button.button.mr-3 retrieve saved application
                          .button__text CONTINUE a saved existing application.
                        div
                          button.button save progress
                          .button__text SAVE your current progress.
                      .ml-3.ml-xl-0
                        button.button.border-red.color-red.bg-white I AM A RETURNING CLIENT
                        .button__text Recover your personal details quickly to pre-fill your application.
                    
                .step
                    h2.step__title service details
                    .step__description
                        img.mr-4(src="img/portfolio.png", alt="")
                        .step__text
                            b Let’s start with the basics -
                            br
                            span We need to find out first a little about your upcoming visit.
                            
                    .input
                        .input__wrapper.input__wrapper_correct
                            label.input__label Group Size
                            select.input__select
                                option(value="") 1
                                option(value="") 2
                                option(value="") 3
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online                                
                    .input.mt-5
                        .input__wrapper.input__wrapper_correct
                            label.input__label Number of entries
                            select.input__select
                                option(value="") Single entry visa
                                option(value="") Double entry visa
                                option(value="") Multi entry visa
                                option(value="") Mo-mo-mo-nster entry visa
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                                    .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                                    .hint__action
                                      .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                      .hint__action-text  +44 (0)207 100 7370
                                    .hint__action
                                      .hint__action-icon
                                        img(src="img/headset.png")
                                      .hint__action-text.hint__action-text_black  Click to Call
                                    .hint__action
                                      .hint__action-icon
                                        img(src="img/support.png")
                                      .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                    .input.mt-5
                        .input__wrapper.input__wrapper_correct
                            label.input__label Purpose of visit
                            select.input__select
                                option(value="") Meet old friends
                                option(value="") Working
                                option(value="") I'm a Syrian terrorist.
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                    .input.mt-5
                        .input__wrapper.input__wrapper_correct
                            label.input__label Registration
                            select.input__select
                                option(value="") What
                                option(value="") should
                                option(value="") I
                                option(value="") insert
                                option(value="") there?
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                    .input.mt-5
                        .input__wrapper.input__wrapper_correct
                            label.input__label Country applying in
                            br
                            input.input__select.total__select.total__country(type="text", readonly) 
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                        
                    .step__note
                        b CONSULAR NOTES
                        .step__note-text The Russian consulate in United Kingdom have currently no special conditions that we are aware of and accept an email copy of the visa support documents as well as group visa supports.
                            | However, this is subject to change so please confirm the current requirements directly with the consulate before submitting your application.
                            | If necessary we can arrange to courier the original visa support document to you from Moscow, please feel free to contact our visa team at visas@realrussia.co.uk who will be happy to help.
                        
                    .input.mt-5
                        .input__wrapper.input__wrapper_correct
                            label.input__label Delivery option
                            br
                            select.input__select(type="text", readonly)
                                option(value="") By email - original not required
                                option(value="") Another option
                        .input__highlight
                        .hint
                          .hint__header
                            .hint__tab(tab='1')
                              .hint__header-text Assistance
                              .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                              .hint__header-text Further Help
                              .hint__header-icon
                                img(src="img/phone-receiver.png")
                          .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online
                          .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                              .hint__action-icon
                                img(src="img/phone-receiver.png")
                              .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                              .hint__action-icon
                                img(src="img/headset.png")
                              .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                              .hint__action-icon
                                img(src="img/support.png")
                              .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
            div.container
              div.d-block.d-sm-flex.jc-sb.mw-660.mt-19.mb-35
                button.button.mr-3.mb-3 Save progress
                a(href="step2.html")
                    button.button.button_red.mb-3 next step >  
