
// <% sub TitleSection %>Russian Tourist Visa Support Application<% end sub %>
// 
// <% sub StyleSheetsSection %>

meta(name="viewport", content="width=device-width, initial-scale=1")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
link(rel="stylesheet", href="styles.css")
script(src="script.js" defer)

// <% end sub %>
// 
// <% sub ScriptsSection %>
// <% end sub %>

// <% sub MainContentSection %>
main.container_form-wrapper
    .container
        .d-flex.flex-wrap.align-items-center.justify-content-between
            div
                .title Russian Tourist Visa Support Application
                .steps.mt-30
                    .steps__item
                        .steps__item-step.steps__item-step_active 1
                        .steps__item-text.steps__item-text_active service details
                    .steps__item
                        .steps__item-step.steps__item-step_disabled 2
                        .steps__item-text.steps__item-text_disabled.top-22.l-30 personal details
                    .steps__item
                        .steps__item-step.steps__item-step_disabled 3
                        .steps__item-text.steps__item-text_disabled your visit
                    .steps__item
                        .steps__item-step.steps__item-step_disabled 4
                        .steps__item-text.steps__item-text_disabled.top-22 payment
                    .steps__line
                    .steps__line.steps__line_grey

            include ../blocks/total/total.jade 

    .container.bg-gray.pb-4
        .d-flex.align-items-center.justify-content-center.justify-content-sm-between
            div.jc-sb.pt-27.pl-10.d-block.d-sm-flex
                div.flex-grow-1.button-wrap.d-block.d-sm-flex.flex-grow-1
                    div
                        button.button.mr-3 retrieve saved application
                        .button__text CONTINUE a saved existing application.
                    div
                        button.button save progress
                        .button__text SAVE your current progress.
                .ml-3.ml-xl-0
                    button.button.border-red.color-red.bg-white I AM A RETURNING CLIENT
                    .button__text Recover your personal details quickly to pre-fill your application.


        .step(data-step="1")
            h2.step__title service details
            .step__description
                img.mr-4(src="img/portfolio.png", alt="")
                .step__text
                    b Let’s start with the basics -
                    br
                    span We need to find out first a little about your upcoming visit.

            .input
                .input__wrapper.input__wrapper_correct
                    label.input__label Group Size
                    select.input__select
                        option(value="") 1
                        option(value="") 2
                        option(value="") 3
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online                                
            .input.mt-5
                .input__wrapper.input__wrapper_correct
                    label.input__label Number of entries
                    select.input__select
                        option(value="") Single entry visa
                        option(value="") Double entry visa
                        option(value="") Multi entry visa
                        option(value="") Mo-mo-mo-nster entry visa
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
            .input.mt-5
                .input__wrapper.input__wrapper_correct
                    label.input__label Purpose of visit
                    select.input__select
                        option(value="") Meet old friends
                        option(value="") Working
                        option(value="") I'm a Syrian terrorist.
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
            .input.mt-5
                .input__wrapper.input__wrapper_correct
                    label.input__label Registration
                    select.input__select
                        option(value="") What
                        option(value="") should
                        option(value="") I
                        option(value="") insert
                        option(value="") there?
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
            .input.mt-5
                .input__wrapper.input__wrapper_correct
                    label.input__label Country applying in
                    br
                    input.input__select.total__select.total__country(type="text", readonly) 
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online                                                                

            .step__note
                b CONSULAR NOTES
                .step__note-text The Russian consulate in United Kingdom have currently no special conditions that we are aware of and accept an email copy of the visa support documents as well as group visa supports.
                    | However, this is subject to change so please confirm the current requirements directly with the consulate before submitting your application.
                    | If necessary we can arrange to courier the original visa support document to you from Moscow, please feel free to contact our visa team at visas@realrussia.co.uk who will be happy to help.

            .input.mt-5
                .input__wrapper.input__wrapper_correct
                    label.input__label Delivery option
                    br
                    select.input__select(type="text", readonly)
                        option(value="") By email - original not required
                        option(value="") Another option
                .input__highlight
                .hint
                    .hint__header
                        .hint__tab(tab='1')
                            .hint__header-text Assistance
                            .hint__header-icon ?
                        .hint__tab.hint__tab_active(tab='2')
                            .hint__header-text Further Help
                            .hint__header-icon
                                img(src="img/phone-receiver.png")
                    .hint__body.active(data-tab='1')
                        .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online
                    .hint__body(data-tab='2')
                        .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                        .hint__action
                            .hint__action-icon
                                img(src="img/phone-receiver.png")
                            .hint__action-text  +44 (0)207 100 7370
                        .hint__action
                            .hint__action-icon
                                img(src="img/headset.png")
                            .hint__action-text.hint__action-text_black  Click to Call
                        .hint__action
                            .hint__action-icon
                                img(src="img/support.png")
                            .hint__action-text.hint__action-text_grey  Livechat: Online  


        .step(data-step="2")
            h2.step__title Personal details
            .step__description
                img.mr-4(src="img/user.png", alt="")
                .step__text
                    b Let us know a bit about yourself -
                    br
                    span Just the key details we need to collect from you and your group to proceed with our application. You can add up to a further 5 people below by just clicking on the ‘Add another person’ button.

            .step__subtitle
                .step__subtitle-text Visitor 1
                .step__subtitle-icon

            .step__subtitle-content        
                .input.mt-4
                    .input__wrapper
                        label.input__label First name
                        input.input__field(type="text", name="", required, pattern="/^[a-z]{3,}$/gi")
                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                

                .input
                    .input__wrapper
                        label.input__label Middle name
                        input.input__field(type="text", name="", required, pattern="/^[a-z]{3,}$/gi")
                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                

                .input
                    .input__wrapper
                        label.input__label Surname
                        input.input__field(type="text", name="", required, pattern="/^[a-z]{3,}$/gi")
                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                .radio-buttons
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", name="someName", id="yes")
                        label.radio-buttons__view(for="yes") Male
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", name="someName", id="no")
                        label.radio-buttons__view(for="no") Female

                .input
                    .input__wrapper

                        label.input__label Date of birth
                        input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")

                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online         
                .d-block.d-sm-flex.justify-content-between.mw-625                                                     
                    .input.mr-3.mb-4(style="width: 50%")
                        .input__wrapper
                            label.input__label Citizenship
                            br
                            input.input__select.total__select.total__country(type="text", readonly, pattern="/^[a-z]{3,}%/gi"  style="height: 40px") 

                            .hint
                                .hint__header
                                    .hint__tab(tab='1')
                                        .hint__header-text Assistance
                                        .hint__header-icon ?
                                    .hint__tab.hint__tab_active(tab='2')
                                        .hint__header-text Further Help
                                        .hint__header-icon
                                            img(src="img/phone-receiver.png")
                                .hint__body.active(data-tab='1')
                                    .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/phone-receiver.png")
                                        .hint__action-text  +44 (0)207 100 7370
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/headset.png")
                                        .hint__action-text.hint__action-text_black  Click to Call
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/support.png")
                                        .hint__action-text.hint__action-text_grey  Livechat: Online
                                .hint__body(data-tab='2')
                                    .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/phone-receiver.png")
                                        .hint__action-text  +44 (0)207 100 7370
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/headset.png")
                                        .hint__action-text.hint__action-text_black  Click to Call
                                    .hint__action
                                        .hint__action-icon
                                            img(src="img/support.png")
                                        .hint__action-text.hint__action-text_grey  Livechat: Online                                                                    
                    .input(style="width: 50%")
                        .input__wrapper
                            label.input__label Passport number
                            input.input__field(type="text", name="", required, pattern="/^[0-9]{3,}$/gi")
                        .input__error-label This field cannot be empty

                        .hint
                            .hint__header
                                .hint__tab(tab='1')
                                    .hint__header-text Assistance
                                    .hint__header-icon ?
                                .hint__tab.hint__tab_active(tab='2')
                                    .hint__header-text Further Help
                                    .hint__header-icon
                                        img(src="img/phone-receiver.png")
                            .hint__body.active(data-tab='1')
                                .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online
                            .hint__body(data-tab='2')
                                .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                .d-block.d-sm-flex.justify-content-between.mw-625  
                    .input.mr-3
                        .input__wrapper
                            label.input__label Date passport issued
                            input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")

                        .input__error-label This field cannot be empty

                        .hint
                            .hint__header
                                .hint__tab(tab='1')
                                    .hint__header-text Assistance
                                    .hint__header-icon ?
                                .hint__tab.hint__tab_active(tab='2')
                                    .hint__header-text Further Help
                                    .hint__header-icon
                                        img(src="img/phone-receiver.png")
                            .hint__body.active(data-tab='1')
                                .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online
                            .hint__body(data-tab='2')
                                .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                    .input
                        .input__wrapper
                            label.input__label Date passport expires
                            input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")

                        .input__error-label This field cannot be empty

                        .hint
                            .hint__header
                                .hint__tab(tab='1')
                                    .hint__header-text Assistance
                                    .hint__header-icon ?
                                .hint__tab.hint__tab_active(tab='2')
                                    .hint__header-text Further Help
                                    .hint__header-icon
                                        img(src="img/phone-receiver.png")
                            .hint__body.active(data-tab='1')
                                .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online
                            .hint__body(data-tab='2')
                                .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/phone-receiver.png")
                                    .hint__action-text  +44 (0)207 100 7370
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/headset.png")
                                    .hint__action-text.hint__action-text_black  Click to Call
                                .hint__action
                                    .hint__action-icon
                                        img(src="img/support.png")
                                    .hint__action-text.hint__action-text_grey  Livechat: Online                                                                

                .input
                    .input__wrapper
                        label.input__label Email address
                        input.input__field(type="text", name="", required, pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/gi")
                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                
                .input
                    .input__wrapper
                        label.input__label Telephone
                        input.input__field(id="phone" type="tel", required)
                    .input__error-label This field cannot be empty

                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online 



        .step(data-step="3")
            h2.step__title details about your visit to russia
            .step__description
                img.mr-4(src="img/location.png", alt="")
                .step__text
                    b Time to tell us about your visit  -
                    br
                    span As well as the dates you’re arriving and departing, list all the cities and hotels you’re planning at staying at during your stay.
                        | You can add up to 10 separate locations below by just clicking on the ‘Add another location’ button.

            label.input__label Entry 1 - Arrival and departure travel dates 
            .d-block.d-sm-flex.justify-content-between.mw-625  

                .input.mr-3
                    .input__wrapper
                        label.input__label Arrival Date
                        input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")
                    .input__error-label This field cannot be empty
                .input.mr-3
                    .input__wrapper
                        label.input__label Departure Date
                        input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")
                    .input__error-label This field cannot be empty

            label.input__label Entry 2 - Arrival and departure travel dates  
            .d-block.d-sm-flex.justify-content-between.mw-625

                .input.mr-3
                    .input__wrapper
                        label.input__label Arrival Date 
                        input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")
                    .input__error-label This field cannot be empty
                .input.mr-3
                    .input__wrapper
                        label.input__label Departure Date
                        input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")
                    .input__error-label This field cannot be empty



            .step__subtitle
                .step__subtitle-text Location 1
                .step__subtitle-icon

            .step__subtitle-content
                .input.mt-4
                    .input__wrapper
                        label.input__label City
                        select.input__select
                            option(value="") Moscow
                            option(value="") Volgograd
                            option(value="") Kazan
                    .input__error-label This field cannot be empty
                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                                
                .input.mt-4
                    .input__wrapper
                        label.input__label Hotel
                        select.input__select
                            option(value="") Ahtuba
                            option(value="") Dream in Reallity
                    .input__error-label This field cannot be empty
                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                                
            .step__subtitle
                .step__subtitle-text Location 2
                .step__subtitle-icon

            .step__subtitle-content
                .input.mt-4
                    .input__wrapper
                        label.input__label City
                        select.input__select
                            option(value="") Moscow
                            option(value="") Volgograd
                            option(value="") Kazan
                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                                
                .input.mt-4
                    .input__wrapper
                        label.input__label Hotel
                        select.input__select
                            option(value="") Ahtuba
                            option(value="") Dream in Reallity
                    .hint
                        .hint__header
                            .hint__tab(tab='1')
                                .hint__header-text Assistance
                                .hint__header-icon ?
                            .hint__tab.hint__tab_active(tab='2')
                                .hint__header-text Further Help
                                .hint__header-icon
                                    img(src="img/phone-receiver.png")
                        .hint__body.active(data-tab='1')
                            .hint__body-text If you need further help, don’t hestitate to get in touch now with any of the following options:
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online
                        .hint__body(data-tab='2')
                            .hint__body-text If you have any questions about your visa support application either before, during or after processing please look at our frequently asked questions, or feel free to contact us directly and we will be happy to help.
                            .hint__action
                                .hint__action-icon
                                    img(src="img/phone-receiver.png")
                                .hint__action-text  +44 (0)207 100 7370
                            .hint__action
                                .hint__action-icon
                                    img(src="img/headset.png")
                                .hint__action-text.hint__action-text_black  Click to Call
                            .hint__action
                                .hint__action-icon
                                    img(src="img/support.png")
                                .hint__action-text.hint__action-text_grey  Livechat: Online                                                                                
                .step__note.my-4
                    .step__note-text To apply for your visa, in some situations we may need to provide your data to the XXXX etc.
                        br
                        br
                        | Real Russia Limited will not; sell, rent, share, or otherwise disclose the email addresses or other personally identifiable information to third parties without your consent.
                        br
                        br
                        | By submitting this application, you should be aware that in some situations we will need to provide personal data to our suppliers and partners to effect the provision of the service.
                        br  
                        br  
                        | For more information please refer to our Privacy Statement.

                .radio-buttons__title Would you like to join our monthly newsletter list?
                .radio-buttons
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", name="someName1", id="yes1")
                        label.radio-buttons__view(for="yes1") Yes
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", checked, name="someName1", id="no1")
                        label.radio-buttons__view(for="no1") No

                .radio-buttons__title Would you like to join our mailing list for special offers, news and information?     
                .radio-buttons
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", name="someName2", id="yes2")
                        label.radio-buttons__view(for="yes2") Yes
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", checked, name="someName2", id="no2")
                        label.radio-buttons__view(for="no2") No
                .radio-buttons__title.font-weight-bold I have read and understood 
                    a(href="#") terms and conditions    
                .radio-buttons
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", name="someName3", id="yes3")
                        label.radio-buttons__view(for="yes3") Yes
                    .radio-buttons__wrapper
                        input.radio-buttons__radio(type="radio", checked, name="someName3", id="no3")
                        label.radio-buttons__view(for="no3") No  
                        
                        
                        
                        
                        
        .step(data-step="4")
            h2.step__title VISA SUPPORT APPLICATION Order Summary
            .step__description
                .step__text
                    | Thank you 
                    span.color-red PAUL BRADLEY
                    | , your Real Russian Tourist Visa Support application has been submitted to our database and is ready for processing.
                    | Your reference number is: 
                    b SSSD - 13611 - D7326 - PB

            hr

            table.total-table
                tr
                    td Single entry visa
                    td £15.30
                tr
                    td No registration service needed
                    td £0.00
                tr
                    td.font-weight-bold TOTAL PRICE
                    td.color-red.font-weight-bold £15.30
            hr

            .step__note
                | The visa support document applied for will be valid for processing a visa for the named person to enter Russia on or after <not specified> and they must leave Russia on or before <not specified>. The visa will allow one entry to and one exit from Russia during this period. It is the applicant’s responsibility to confirm that the visa support document/visa meet their requirements before they process the visa, or travel or use the visa itself.
                | Please note that once the visa support is issued, no refunds are possible.

            .radio-buttons__title.font-weight-bold Having completed my application, I agree that the above visa application is suitable.
            .radio-buttons
                .radio-buttons__wrapper
                    input.radio-buttons__radio(type="radio", checked, name="someName4", id="yes4")
                    label.radio-buttons__view(for="yes4") Yes
                .radio-buttons__wrapper
                    input.radio-buttons__radio(type="radio", name="someName4", id="no4")
                    label.radio-buttons__view(for="no4") No

            .step__note You can now proceed to payment
            
            div.mt-4.mt-lg-0
                b.color-red SECURE PAYMENT PROCESSING
                .step__note Text about how secure payment is Text about how secure payment is Text about how secure payment is
                .d-flex
                    img.mr-2(src="img/mastercard.png", alt="Mastercard")
                    img.mr-2(src="img/visa.png", alt="visa")
                    img.mr-2(src="img/visa-debit.png", alt="visa-debit")
                    img(src="img/american-express.png", alt="american-express") 
            
            .container
                h2.step__title PAYMENT
                .step__description
                    img.mr-4.mb-2(src="img/payment.png", alt="")
                    .step__text
                        b Make a secure online payment for your visa support documents.
                        | We have sent an email to 
                        span.color-red paul@psbweb.co.uk 
                        | with details of alternative payment methods should you prefer not to pay by credit/debit card.

                .input
                    .input__wrapper
                        label.input__label First name
                        input.input__field(type="text", name="", required, pattern="/^[a-z]{2,5}$/gi")
                    .input__error-label This field cannot be empty

                .input
                    .input__wrapper
                        label.input__label Surname
                        input.input__field(type="text", name="", required, pattern="/^[a-z]{2,5}$/gi")
                    .input__error-label This field cannot be empty

                .d-flex.flex-wrap.flex-md-nowrap
                    .input.mr-0.mr-md-5
                        .input__wrapper
                            label.input__label House number/name
                            input.input__field(type="text", name="", required, pattern="/^[0-9a-z]{1,}$/gi")
                        .input__error-label This field cannot be empty

                    .input.mr-0.mr-md-4
                        .input__wrapper
                            label.input__label Postcode
                            input.input__field(type="text", name="", required, pattern="/^[0-9]{3,}$/gi")
                        .input__error-label This field cannot be empty

                .input
                    .input__wrapper
                        label.input__label Card type
                        select.input__select
                            option(value="") Visa Debit
                            option(value="") American Express
                            option(value="") Mastercard

                .input.mt-4
                    .input__wrapper
                        label.input__label Card number
                        input.input__field(type="text", name="", required, pattern="/^[0-9]{4}(\\s{1})?[0-9]{4}(\\s{1})?[0-9]{4}(\\s{1})?[0-9]{4}(\\s{1})?$/gi")
                    .input__error-label This field cannot be empty

                .d-flex.flex-wrap.flex-md-nowrap
                    .input.mr-0.mr-md-5
                        .input__wrapper    
                            label.input__label Expiry date
                            input(type="text" class="datepicker_jq input__field input__field_calendar" pattern="/^[0-9]{2}\/[0-9]{2}\/[0-9]{4}$/gi")
                        .input__error-label This field cannot be empty

                    .input.mr-0.mr-md-4
                        .input__wrapper
                            label.input__label CCV
                            input.input__field(type="text", name="", required, pattern="/^[0-9]{2,3}$/gi")
                        .input__error-label This field cannot be empty



    div.container
        div.d-block.d-sm-flex.jc-sb.mw-660.mt-19.mb-35
            button.button.mr-3.mb-3 Save progress
            div
                button.button.border-red.color-red.bg-white.mr-2.mb-3(data-role="prevStep") < previous step
                button.button.button_red.mb-3(data-role="nextStep") next step >

// <% end sub %>
