.message
    .message__icon_error
    .message__content
        .message__title The following fields have problems
        .message__links
            a.message__link(href="#") Purpose of visit 
            a.message__link(href="#") Visitor 1 First name 
            a.message__link(href="#") Visitor 1 Surname 
            a.message__link(href="#") Visitor 1 Gender 
            a.message__link(href="#") Visitor 2 Surname
