.message
    width: 100%
    display: flex;
    align-items: center;
    padding: 20px
    background: #fed9dd
    border-top: 1px solid #cc091d
    border-bottom: 1px solid #cc091d
    position: sticky;
    z-index: 100
    top: 0

.message__icon_error
    width: 33px;
    height: 33px;
    background: url('img/message-error.png') no-repeat center / contain;

.message__content
    max-width: 600px
    margin-left: 31px

.message__title
    color #cc091d
    font-family "Open Sans"
    font-weight 700
    line-height 26px

.message__links
    display: flex;
    flex-wrap: wrap;
    align-items: center;

.message__link
    color #000000
    font-family "Open Sans"
    font-size 13px
    margin: 0px 5px
    text-decoration: underline
