.provide.mt-4
    .provide__title You will need to hand:
    div.provide__list.mt-2.d-flex.flex-wrap
        ul.mr-5
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Passports
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Credit or debit card
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Your group’s personal details
        ul.mr-5
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Lorem ipsum another 1
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Your proposed travel dates
            li.provide__list-item 
                .provide__list-icon.mr-3
                    img(src="img/tick.png")
                .provide__list-text Lorem ipsum another 2
