.steps
    .steps__item 1
        .steps__item-icon
            img(src="img/check.png")
    .steps__item 2
        .steps__item-icon.steps__item-icon_warning !
    .steps__item.steps__item_active 3
    .steps__item.steps__item_disabled 4
    .steps__line
