.sticky-errors
    width: 100%
    margin-left: -14px;
    display: flex;
    // position: fixed;
    z-index: 1000;
    left: 67px;
    top: 0
    align-items: center;
    padding: 20px
    background: #fed9dd
    border-top: 1px solid #cc091d
    border-bottom: 1px solid #cc091d
    // position: sticky;
    // top: 41px;
    // z-index: 1000
    // top: 0
    &.active
        display: flex;

.sticky-errors__icon_error
    width: 33px;
    height: 33px;
    background: url('img/sticky-errors.png') no-repeat center / contain;

.sticky-errors__content
    max-width: 600px
    margin-left: 31px

.sticky-errors__title
    color #cc091d
    font-family "Open Sans"
    font-weight 700
    line-height 26px

.sticky-errors__links
    display: flex;
    flex-wrap: wrap;
    align-items: center;

.sticky-errors__link
    color #000000
    font-family "Open Sans"
    font-size 13px
    margin: 0px 5px

.container_form-wrapper a.sticky-errors__link
    text-decoration: underline!important
