.button{
    outline: none;
    background-color: #d89c22;
    text-transform: uppercase;
    font-size: 15px;
    padding: 13px 28px 13px 32px
    display: inline-block;
    color: #ffffff;
    border-radius: 3px
    margin 100px
}
