.button
    cursor: pointer
    white-space: nowrap;
    border-radius: 3px
    font-size: 15px
    font-weight: 400;
    line-height: 1
    font-family: 'Open Sans'
    text-transform: uppercase;
    padding: 11px 28px 11px 32px
    font-weight: 700;
    color: #fff
    border: none
    background-color: #d89c22;
    text-decoration: none;
    &:hover
        text-decoration: none;
        color: #fff
    &_red
        background-color: #cc091d;
        color: #ffffff;
        font-size: 14px;
        padding: 12px 41px 11px 39px
        text-transform: uppercase;
        border: none
    &__text
      color #000000
      font-family "Open Sans"
      font-size 12px
      font-weight 400
      line-height 18px
      margin-top: 6px
      max-width: 230px
    &__remove-location
        color: #cc091d;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: transparent;
        margin-left: auto;
        display: block;
        padding-right: 0
        outline none
        &:hover
            color #cc091d
    &__add-location
        color: #cc091d;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid #cc091d;
        display: block;
        outline none
        &:hover
            color: #cc091d;
