.button
    padding: 9px 46px 9px 38px
    cursor: pointer
    border-radius: 3px
    background-color: #fff
    color: #000000;
    font-size: 15px
    border: 1px solid rgba(176,176,176,.5);
    font-weight: 400;
    line-height: 1
    margin: 100px
    font-family: 'Open Sans'
    &_accept
        padding: 11px 28px 11px 32px
        text-transform: uppercase;
        font-weight: 700;
        color: #fff
        border: none
        background-color: #d89c22;
    &_prev-step
        border: 1px solid #cc091d;
        color: #cc091d;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 28px 11px 20px
        font-size: 14px;
    &_next-step
        background-color: #cc091d;
        color: #ffffff;
        font-size: 14px;
        padding: 12px 41px 11px 39px
        text-transform: uppercase;
        border: none
